<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AWSPodcastUrlsQueue"   value="ApplePodcasts_Step_3_PodcastUrls" />
    <add key="MaxRetries"            value="10" />
    <add key="MaxMessagesPerDequeue" value="10" />
    <add key="AWSKey"                value="KEY" />
    <add key="AWSKeySecret"          value="SECRETKEY" />
  
  <!-- Database Information -->
    <add key="MONGO_SERVER"     value="YOURSERVERADDRESS" />
    <add key="MONGO_PORT"       value="SERVERPORT" />
    <add key="MONGO_USER"       value="USERNAME" />
    <add key="MONGO_PASS"       value="PASSWORD" />
    <add key="MONGO_DATABASE"   value="DATABASE NAME" />
    <add key="MONGO_COLLECTION" value="TARGET COLLECTION" />
    <add key="MONGO_AUTH_DB"    value="AUTHENTICATION DATABASE (admin, for instance)" />
    <add key="MONGO_TIMEOUT"    value="10000" />
  </appSettings>
</configuration>
